
/002-Servidor node/node_modules
/003-Cliente/009-express/node_modules
/003-Cliente/010-pug/node_modules
/003-Cliente/011-documentos/node_modules
/003-Cliente/012-ahora pongo los datos de los documentos/node_modules
/003-Cliente/013-Pongo los datos pero de forma correcta/node_modules
/003-Cliente/014-boton de eliminar/node_modules
/003-Cliente/015-Activo ruta de eliminar/node_modules
/003-Cliente/016-Ajustes esteticos/node_modules
/003-Cliente/017-ajustes de scroll/node_modules
/004-frontend/018-front 1/admin/node_modules
/004-frontend/018-front 1/servidor/node_modules
