.productos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap:20px;
}
article{
   width:100%;
}
article img{
    width:100%;
}
article button{
    width:100%;
    background:var(--primario);
    border:none;
    padding:10px;
    border-radius:20px;
    color:white;
}
#carrito{
    
    position:fixed;
    width:300px;
    height:400px;
    background:white;
    bottom:20px;
    right:20px;
    box-shadow:0px 5px 10px rgba(0,0,0,0.3);
    padding:30px;
    box-sizing: border-box;
    overflow-y: scroll;
}
#carrito h4,#carrito p{
    margin:0px;
    padding:0px;
    font-size:11px;
}
#carrito input{
    width:100%;
    padding:10px;
    box-sizing: border-box;
    margin-bottom:10px;
}
#carrito ul{
    list-style-type: none;
    padding:10px;
    margin:0px;
    background:var(--secundario1);
}
#carrito ul li{
    text-align:left;
    padding:10px;
    box-sizing: border-box;
    margin-bottom:10px;
    border-radius:10px; 
    background:white;
}